# ==========================================
# Dependencies
# ==========================================

node_modules/
.pnp/
.pnp.js


# ==========================================
# Build / Distribution
# ==========================================

dist/
dist-ssr/
build/
web-build/


# ==========================================
# Expo
# ==========================================

.expo/
.expo-shared/


# ==========================================
# Environment variables / Secrets
# ==========================================

.env
.env.*
!.env.example


# ==========================================
# Logs
# ==========================================

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# ==========================================
# Local configuration
# ==========================================

*.local


# ==========================================
# OS
# ==========================================

.DS_Store
Thumbs.db


# ==========================================
# Editors / IDEs
# ==========================================

.vscode/*
!.vscode/extensions.json

.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# ==========================================
# Expo / React Native local files
# ==========================================

*.jks
*.p8
*.p12
*.key
*.mobileprovision


# ==========================================
# Temporary files
# ==========================================

*.tmp
*.temp